html {
    font: 16px/1.5 "\5b8b\4f53", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

input, textarea {
    /*font: 16px "\5b8b\4f53", "Arial", "Helvetica Neue", "Helvetica", sans-serif;*/
    font: inherit;
}

article, aside, footer, header, section, footer, nav, figure, menu {
    display: block;
}

html, body, iframe, menu, figure, nav, ul, li, dl, dt, dd, p, h1, h2, h3, form {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

textarea {
    resize: none;
    outline: none;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #0296dc;
    text-decoration: none;
}

img {
    border: 0;
}

a > img {
    vertical-align: top;
}